@*@{
    ViewData["Title"] = "Home Page";
}*@

@model User

<h2>Реєстрація</h2>

<form asp-action="Register">
    <input type="text" name="Name" placeholder="Ім'я" />
    <input type="email" name="Email" placeholder="Email" />
    <input type="number" name="Age" placeholder="Вік" />
    <button type="submit">Зареєструватися</button>
</form>
